@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Stick+No+Bills&family=Amatic+SC:wght@700&family=DM+Mono:wght@300;400;500&display=swap");

/* Fonts:
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Stick No Bills', sans-serif;
font-family: 'Amatic SC', sans-serif;
font-family: "Margarine", sans-serif;
*/
* {
  font-family: "Margarine", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100vh;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  background: linear-gradient(coral, rgb(255, 224, 124));
}
.container {
  background-color: wheat;
  border-radius: 1rem;
  max-width: 600px;
  min-height: 400px;
  padding: 20px 40px;
  width: 100%;
  position: relative;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.title {
  font-size: 60px;
  margin-bottom: 10px;
}

.dark-mode-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: orange;
  outline: auto;
  outline-color: white;
  outline-offset: 3px;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

.dark-mode-toggle:hover {
  transform: scale(1.2);
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
  align-items: center;
}

input[type="text"],
input[type="date"],
select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid whitesmoke;
  border-radius: 0.5rem;
  outline: none;
  transition: transform 0.3s, border-color 0.5s;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: coral;
  transform: scale(1.03);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: coral;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.3s, background-color 0.3s;
}

button:hover {
  background-color: darkorange;
  transform: scale(1.05);
}

.calendar-btn {
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 127, 80, 0.482);
}

.date-picker {
  display: none;
}

ul {
  list-style-type: none;
}

li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

li.low {
  border-left: 5px solid green;
}

li.medium {
  border-left: 5px solid orange;
}

li.high {
  border-left: 5px solid red;
}

@media (max-width: 600px) {
  .title {
    font-size: 30px;
  }

  .input-group {
    flex-direction: column;
  }

  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    margin-left: 0;
  }
}

body.dark-mode {
  background: linear-gradient(black, rgb(16, 23, 47));
  color: #ffffff;
}

body.dark-mode .container {
  background-color: #3e3e3e;
}

body.dark-mode input[type="text"],
body.dark-mode input[type="date"],
body.dark-mode select {
  background-color: #4e4e4e;
  color: #ffffff;
  border-color: #666666;
}

body.dark-mode button {
  background-color: #666666;
}

body.dark-mode button:hover {
  background-color: #888888;
}

body.dark-mode li {
  background-color: #4e4e4e;
  color: #ffffff;
}
